<div class="course-card">
  <div class="card-contents">
    <h3><a href="/courses/<%= course.cid %>"><%= course.name %></a></h3>
    <p>
      <%= course.cid.substring(0, 4) %> &ndash;
      <%= course.cred %> credits
    </p>
    <a class="edit-btn" href="/courses/<%= course.cid %>/edit">Edit</a>
    <a class="delete-btn" data-cid="<%= course.cid %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
  </div>
</div>